html{
  overflow: hidden;
}
:root {
    --primary-font: "Rubik", sans-serif;
    --secondary-font: "Sorts Mill Goudy", serif;
    --primary-color: #171e28;
    --secondary-color: #222a35;
    --icon-color: #7c7c7c;
    --highlight-color: #d8c622;
    --main-text-color: #f6f9f5;
    --sub-text-color: #6e757d;
    --heading-size: 2.5rem;
    --text-size: 1rem;
  }
  body{
    background: url(./assets/Bg.jpg);
    margin: 0;
  }

.main{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
  }
  
  html {
    scroll-behavior: smooth;
  }

  .container {
    position: relative;
    max-width: 80%;
    margin: 0 auto;
    padding-top: 1%;
    background-color: var(--primary-color);
    box-shadow: 0 -0.1px 5px 5px rgb(122, 122, 122);
    transition: 0.5s;
    margin-top: 0.5%;
    border-radius: 15px;
    opacity: 0.95;
  }

  
  .navigation{
    position: relative;
    margin-left: auto;
    max-width: 80%;
    display: flex;
    padding-bottom: 5%;
  }

  .navigation-item{
    color: var(--main-text-color);
    max-width: 30%;
  }

  .main{
    color: var(--main-text-color);
    position: relative;
    margin-left: auto;
    padding-bottom: 1%;
  }

  .container-main{
    position: relative;
    margin-left: auto;
    max-width: 80%;
  }

  .fire2{
    display: none;
    border-radius: 5px;
  }

  .form{
    font-size: 1.5rem;
  }

  .form1{
    font-size: 1.2rem;
    width: 70%;
    border-radius: 5px;
    background-image: url(./assets/Bg\ input.png);
    background-size:cover;
    border:1px solid rgb(183, 81, 81);
    box-shadow: 0.1px 1px 15px rgb(183, 81, 81);

  }
  
  .form2{
    font-size: 1.2rem;
    width: 70%;
    border-radius: 5px;
    background-image: url(./assets/Bg\ input.png);
    background-size:cover;
    border:1px solid rgb(183, 81, 81);
    box-shadow: 0.1px 1px 10px rgb(183, 81, 81);
  }
  .button-main{
    border-radius: 10px;
    box-shadow: 5px 1px 15px rgb(228, 201, 201) ;
    font-size: 1.2rem;
    background-color: #f4f5f6;
    padding: 10px 5px;
  }
 .footer{
    display: flex;
    justify-content:flex-end;
    gap: 5%;
    font-size: 0.8rem;
    color: var(--sub-text-color);
    padding-bottom: 2%;
    padding-right: 2%;
  }

  /* Adaptive */

  @media screen and (max-width: 800px) {
    html{
      overflow: visible;
    }
    .container {
      position: absolute;
      max-width: 100%;
      margin: 0 auto;
      padding-top: 1%;
      background-color: var(--primary-color);
      box-shadow: 0 10px 20px rgb(122, 122, 122);
      transition: 0.5s;
      margin-top: 2%;
    }
    .container-main {
      position: relative;
      right:10%;
    }
      h1{
        width: 80%;
        font-size: 1.5em;
      }
      .block-fire{
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 20px;
    }
    /* input[type=radio] {
      width: 10rem;
      height: 2rem;
      /* padding-bottom: 1.5rem; */
  
      #fireON{
      zoom: 2; 
    }
    #fireOFF{
       zoom: 2; 
    }
    .block-fire{
      padding-top: 2%;
    }
    .form1{
      width: 90%;
    }
      .form2{
        width: 90%;
      }
      #imgHeart{
        width: 8%;
      }
      .button-main{
        font-size: 1.5rem;
      }
      .dicription{
        width: 80%;
      }
    }
  

  @media screen and (max-width: 500px){
    .form1{
      width: 80%;
      height: 15vh;
      font-size: 1.1rem;
    }
    .container-main {
      position: relative;
      right:10%;
    }
    .block-fire{
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 20px;
    }
    label[for=fireON]{
      font-size: 1.5rem;
    }
    label[for=fireOFF]{
      font-size: 1.5rem;
    }
    #imgHeart{
      margin-top: 5%;
      width: 15%;
    }
    .form2{
      height: 70vh;
      font-size: 1.1rem;
    }

    .add-fire{
      font-size: 1.4rem;
    }
  }

  @media screen and (max-width: 360px){
    h1{
      width: 80%;
      font-size: 1em;
      margin-bottom: 10%;
    }
    .container-main {
      position: relative;
      right:10%;
      
  }
  .add-fire{
    margin: 0;
  }
    #fireON{
      align-self: center;
  }
  .block-fire {
    padding: 0;
    margin:0 ;
}
    input[type=radio] {
      border: 0px;
      width: 10%;
      height: 2em;
      }
      label[for=fire-btn]{
        margin-left: 5%;
        width: 70%;
      }
      label[for=fireON]{
        font-size: 1.2rem;
      }
      label[for=fireOFF]{
        font-size: 1.2rem;
      }
      .dicription{
        width: 80%;
        font-size: 0.8rem;
      }
      .footer{
        font-size: 0.6rem;
      }

  }